.banniere {
  width: 100%;
  height: 600px;
}

.bw-image {
  z-index: 0;
  width: 100%;
  height: 600px;
  object-fit: cover;
  position: absolute;
}

.banniere div {
  width: 100%;
  height: 100%;
  background-color: #00000086;
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

span {
  font-family: "Montserrat-regular";
  color: white;
  font-size: 18px;
  width: 80%;
  position: absolute;
  white-space: nowrap; /* Empêche le retour à la ligne */
}
.left {
  text-align: left;
  left: 0;
  margin-top: -10px;
}

.right {
  margin-bottom: -10px;
  right: 0;
  text-align: right;
  bottom: 0; /* Aligne verticalement au texte principal */
}

.banniere div h1 {
  font-family: "Black-Mango";
  text-align: center;
  color: white;
  position: relative; /* Permet au span d'être positionné par rapport au h1 */
  display: inline-block;
  max-width: 1200px;
  font-size: 70px;
}

/*//////////////////////////  Bouton  //////////////////////////::*/
/* From Uiverse.io by mrhyddenn */
button a {
  font-size: clamp(14px, 2vw, 16px) !important;
  text-decoration: none;
  color: #492e0d;
  border-radius: 7px;
  font-family: "Poppins-semibold";
}

button {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Ombre douce */
  margin-top: 30px;
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: solid 0px transparent;
  background: linear-gradient(to right, #ffe998, #7a5c32);
  border-color: #ffe998;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  right: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:hover {
  background: linear-gradient(to left, #ffe998, #7a5c32);
  box-shadow: 0 0 30px 5px #ecddbb;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border: solid 0px;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.essentiel {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10%;
  padding-bottom: 50px;
}

.essentiel .description {
  text-align: left;
  width: 35%;
}

h2 {
  color: #ecddbb;
  font-family: "Black-Mango";
  font-size: 46px;
  border-bottom: solid 1px;
  border-image: linear-gradient(to right, #ffe998, #7a5c32);
  border-image-slice: 1;
}

h3 {
  color: #ffffff;
  font-family: "Montserrat-regular";
  margin-top: 5px;
  font-size: clamp(16px, 2vw, 18px) !important;
}

.img-essentiel {
  width: 40%;
  height: 35%;
  max-width: 1000px;
  min-height: 300px;
  position: relative;
  display: flex;
  box-sizing: border-box;
  margin-right: 50px;
}

.img-border {
  width: 90%;
  height: 80%;
  max-width: 920px;
  max-height: 820px;
  min-width: 425px;
  min-height: 400px;
  object-fit: cover;
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
  margin-left: auto;
  filter: sepia(60%) brightness(0.8);
}
.img-door {
  width: 30%;
  height: 90%;
  max-height: 900px;
  min-height: 300px;
  min-width: 200px;
  object-fit: cover;
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  filter: grayscale(100%);
  border: solid 1px;
  border-color: black;
}
.essentiel ul {
  width: 90%;
  list-style-type: none;
  color: white;
  text-align: left;
  margin-top: 10%;
  font-family: "Poppins-Regular";
}
ul li {
  margin-bottom: 10px;
  color: white;
  list-style-type: none;
}
ul li i {
  color: #ecddbb;
}
h4 {
  color: white;
  font-family: "Montserrat-semibold";
  margin-bottom: 10px;
}
/*----------------------------------- Section gala -------------------------*/
.gala {
  width: 100%;
  background-color: #f2e9d3;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  gap: 40px;
  padding-bottom: 50px;
  justify-content: center;
}

.gala h2, .temoignage h2 {
  color: #57370d !important;
  border: solid 0 transparent;
}

.img-gala {
  width: 35%;
  height: 35%;
}
.description {
  width: 40%;
  text-align: left;
}
.img-gala img {
  width: 100%;
  height: 100%;
  max-height: 700px;
  min-height: 200px;
  object-fit: cover;
  filter: grayscale(100%) sepia(70%);
}

.gala p {
  color: #000000;
}

.gala h3 {
  color: black;
  
}

.gala a {
  color: #492e0d;
}
/*----------------------------------- Section moments  -------------------------*/
.moment {
  width: 100%;
  background-color: #0c0602;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 50px 0;
  gap: 40px;
}
.moment > * {
  text-align: center;
}

.moment h2 {
  border: solid 0 transparent;
  width: 100%;
}
.moment_photo {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  position: relative;
  color: #492e0d !important;
}
.moment_photo img {
  width: 30%;
  min-width: 180px;
  max-width: 350px;
  min-height: 300px;
  height: 90%;
  max-height: 900px;
  z-index: 1;
  position: relative;
  object-fit: cover;
  margin-bottom: 50px;
}

.moment .btn-r {
  background-color: #f2e9d3;
  width: 60%;
  min-width: 350px;
  height: 20%;
  position: absolute;
  z-index: 2;
  display: flex;
  bottom: 0;
  align-items: center;
  justify-content: space-around;
  max-width: 600px;
  align-self: center;
}
.moment button {
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
  border: solid 1px;
  border-radius: 0;
  border-image: linear-gradient(135deg, #492e0d, #ffe998, #492e0d);
  border-image-slice: 30;
  padding: 2px;
}

.line {
  width: 2px;
  height: 60%;
  background-color: #492e0d;
}

.moment .btn-r p {
  color: #492e0d;
  text-align: left;
  font-family: "Poppins-Regular";
  padding-left: 10px;
}

.moment a {
  font-family: "Montserrat-regular";
}

/*//////////////////////  Temoignages //////////////////////*/
/* From Uiverse.io by Spacious74 */
.bgblue {
  background: linear-gradient(135deg, #000000f5, #ffe998, #00000098);
  padding: 1px;
  border-radius: 1.2rem;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;

  max-width: 300px;
}

.card {
  background: #ffffff ;
  padding: 15px;
  border-radius: 10px;
  height: auto;
  max-height: 500px;
  min-height: 200px;
  display: flex;
  text-align: left;
  flex-direction: column;
  max-width: 300px;
  min-width: 220px;
  width: 100%;
  gap: 10px;
  scroll-snap-align: start;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.card h4, .card p {
  text-align: left;
  font-family: "Poppins-Regular";
  color: #3a3a3a;
}

.comment-media {
  box-sizing: border-box;
  width: 100%;
  max-width: 300px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}
.temoignage {
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2e9d3;
  gap: 5px;
}

.temoignage a{
  text-align: center;
color: rgb(0, 0, 0);
font-family: "Montserrat-regular";
padding-top: 10px;
font-size: 24px;
}

#latest-comments-container {
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-start;
  box-sizing: border-box;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 30px;
  border: solid 1px;
  color: white;
  background-color: #e3dbc5;
  border-radius: 10px;
}

.nombre {
  width: 100%;
  background-color: #0c0602;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 
}

.nombre p span {
  font-size: clamp(20px, 5vw, 45px);
  color: #f2e9d3;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat-semibold";
}

.nombre p {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20%;
  max-width: 200px;
}

p {
  font-size: clamp(14px, 2vw, 20px) !important;
  color: white;
  font-family: "Poppins-Regular";
}

/* Responsive pour téléphone (écrans ≤ 768px) */
@media (max-width: 768px) {
  .banniere div h1 {
    font-size: 34px; /* Réduit la taille du texte */
    width: 90%; /* Ajuste la largeur */
  }

  .banniere div span {
    font-size: 14px; /* Réduit la taille du sous-texte */
    width: 90%; /* Ajuste la largeur */
  }

  /* Section .essentiel */
  .essentiel {
    flex-direction: column; /* Empile les éléments verticalement */
    align-items: center; /* Centre les éléments */
    gap: 20px; /* Ajoute un espace entre les éléments */
  }

  .description {
    width: 100% !important; /* Réduit la largeur */
    text-align: center !important; /* Centre le texte */
    display: flex;
    flex-direction: column; /* Empile les éléments verticalement */
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .img-essentiel {
    width: 90%; /* Réduit la largeur de l'image */
    margin-right: 0; /* Supprime la marge */
    justify-content: center;
  }

  /* Section .gala */
  .gala {
    flex-direction: column; /* Empile les éléments verticalement */
    gap: 20px; /* Ajoute un espace entre les éléments */
    align-items: center;
  }
  .img-door {
    left: unset;
  }
  .img-border {
    display: none;
  }
  h2 {
    font-size: 32px;
    border: solid transparent;
  }
  .img-gala {
    width: 90%; /* Réduit la largeur de l'image */
    height: 300px; /* Maintient le ratio d'aspect */
  }
  .temoignage {
    flex-direction: column; /* Empile les témoignages verticalement */
    gap: 20px; /* Ajoute un espace entre les témoignages */
  }
  p,h3 {
    padding: 0 10px 0 10px; /* Ajoute un espace autour du texte */
  }
}
