.banniere {
  width: 100%;
  height: 600px;
}

.bw-image {
  z-index: 0;
  width: 100%;
  height: 600px;
  object-fit: cover;
  position: absolute;
}

.banniere div {
  width: 100%;
  height: 100%;
  background-color: #00000086;
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

span {
  font-family: "Montserrat-regular";
  color: white;
  font-size: 18px;
  width: 80%;
  position: absolute;
  white-space: nowrap; /* Empêche le retour à la ligne */
}
.left {
  text-align: left;
  left: 0;
}

.right {
  right: 0;
  text-align: right;
  bottom: 0; /* Aligne verticalement au texte principal */
}

.banniere div h1 {
  font-family: "Black-Mango";
  text-align: center;
  color: white;
  position: relative; /* Permet au span d'être positionné par rapport au h1 */
  display: inline-block;
  max-width: 1200px;
  font-size: 70px;
}

/*//////////////////////////  Bouton  //////////////////////////::*/
/* From Uiverse.io by mrhyddenn */
button a {
  font-size: 16px;
  text-decoration: none;
  color: #000000;
  border-radius: 7px;
  font-family: "Poppins-semibold";
}

button {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Ombre douce */
  margin-top: 30px;
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: solid 0px transparent;
  background: linear-gradient(to right, #ffe998, #7a5c32);
  border-color: #ffe998;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  right: 0;
  overflow: hidden;

  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:hover {
  background: linear-gradient(to left, #ffe998, #7a5c32);
  box-shadow: 0 0 30px 5px #ecddbb;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border: solid 0px;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.essentiel {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10%;
  padding-bottom: 50px;
}

.essentiel .description {
  text-align: left;
  width: 35%;
}

h2 {
  color: #ecddbb;
  font-family: "Black-Mango";
  font-size: 46px;
  border-bottom: solid 1px;
  border-image: linear-gradient(to right, #ffe998, #7a5c32);
  border-image-slice: 1;
}

h3 {
  color: #ffffff;
  font-family: "Montserrat-regular";
  margin-top: 5px;
  font-size: 18px;
  margin-bottom: 30px;
}

p {
  color: #ffffff;
  font-family: "Poppins-light";
  font-size: 18px;
  width: 80%;
}

.img-essentiel {
  width: 40%;
  height: 35%;
  max-width: 1000px;
  position: relative;
  display: flex;
  box-sizing: border-box;
  margin-right: 50px;
}

.img-border {
  width: 90%;
  height: 80%;
  max-width: 920px;
  max-height: 820px;
  min-width: 425px;
  min-height: 400px;
  object-fit: cover;
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
  margin-left: auto;
  filter: sepia(60%) brightness(0.8);
}

.img-door {
  width: 30%;
  height: 90%;
 
  max-height: 900px;
  min-height: 400px;
  min-width: 200px;
  object-fit: cover;
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  filter: grayscale(100%);
  border: solid 1px;
  border-color: black;
}

.essentiel ul {
  width: 90%;
  list-style-type: none;
  color: white;
  text-align: left;
  margin-top: 10%;
  font-family: "Poppins-Regular";
}

ul li {
  margin-bottom: 10px;
  color: white;
  list-style-type: none;
}
ul li i {
  color: #ecddbb;
}
h4 {
  color: white;
  font-family: "Montserrat-semibold";
  margin-bottom: 10px;
}

/*----------------------------------- Section gala -------------------------*/

.gala {
  width: 100%;
  background-color: #f2e9d3;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  gap: 40px;
  padding-bottom: 50px;
  justify-content: center;
}

.gala h2 {
  color: #57370d;
  border: solid 0 transparent;
}

.img-gala {
  width: 35%;
  height: 35%;
  
}
.description {
  width: 40%;
  text-align: left;
}
.img-gala img {
  width: 100%;
  height: 100%;
  max-height: 700px;
  object-fit: cover;
  filter: grayscale(100%) sepia(70%);
}

.gala p {
  color: #000000;
}

.gala h3 {
  color: black;
}

.gala a {
  color: #492e0d;
}


.btn-r{
  width:80%;
  display: flex;
  justify-content: right;
}

/*----------------------------------- Section moments  -------------------------*/

.moment {
  width: 100%;
  background-color: #0c0602;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  text-align: center;
  gap: 40px;
  padding-bottom: 50px;
  
}
.moment h2 {
text-align: center;
  border: solid 0 transparent;
  width: 100%;
}

.moment_photo{
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
position: relative;

  
}
.description {
  width: 40%;
  text-align: left;
}
.moment_photo img {
  width: 30%;
  min-width:100px ;
  max-width: 350px;

  min-height: 200px;
  height: 90%;
  max-height: 900px;
  z-index: 1;
  position: relative;
  object-fit: cover;
  margin-bottom: 50px;
  
}

.gala p {
  color: #000000;
}

.moment h3 {
  text-align: center;
}

.moment .btn-r{
  background-color: #F2E9D3;
  width: 60%;
  height: 20%;
  position: absolute;
  z-index: 2;
  display: flex;
  bottom: 0;
  align-items: center;
  justify-content: space-around;
  max-width: 600px;
  align-self: center;
}
.moment button{
  margin: 0;
  
}

.moment button a{
  font-size: 16px;
}
.line{
  width: 2px;
  height: 60%;
  background-color: #492e0d;
}

.moment .btn-r p{
  color: #492e0d;
  text-align: center;
  width: 40%;

  font-size: 18px;
}

