



/*--------------------------------    BANNIERE         ----------------------------------------------------- */

.banniere {
  width: 100%;
  height: 600px;
}

.bw-image {
  filter: grayscale(100%);
  z-index: 0;
  width: 100%;
  height: 600px;
  object-fit: cover;
  position: absolute;
}

.banniere div {
  width: 100%;
  height: 100%;
  background-color: #00000072;
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banniere div h1 {
  font-family: "Black-Mango";
  text-align: center;
  color: white;
  font-size: 80px;
}

/*--------------------------------    section du centre         ----------------------------------------------------- */
.centre {
  width: 100%;
  display: flex;
  background-color: #f2e9d3;
  padding-bottom: 5%;
}
h5{
  color: #6c6c6c;
  margin-top: 10px;
  font-family: 'Montserrat-regular';
}
.fond {
  width: 100%;
  height: 50%;
  background-color: #0c0602;
  z-index: 2;
  position: absolute;
  justify-content: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.fond p {
  font-family: "Montserrat-regular";
  font-size: 24px;
  color: white;
  width: 70%;
  margin-top: 40px;
  text-align: center;
}

/*--------------------------------    FORMULAIRE         ----------------------------------------------------- */
.formulaire {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 6;
  position: relative;
  margin-top: 250px;
}

.formulaire form {
  background-color: #faf8f2;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.informations {
  margin-top: 20px;
  width: 48%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}

label {
  text-align: left;
  font-family: "Montserrat-regular";
  color: #000000;
  margin-top: 5px;
  
}

input {
  padding: 15px;
  color: #545454;
  border-radius: 2px;
  border: solid 1px;
  border-color: #a3a3a3;
  margin-bottom: 20px;
  background-color: #00000000;
}

select {
  padding: 10px;
  color: #545454;
  border-radius: 5px;
  border: solid 1px;
  border-color: #a3a3a3;
  margin-bottom: 20px;
  background-color: #00000000;
}
.formulaire form textarea {
  padding: 10px;
  width: 100%;
  color: #545454;
  border-radius: 5px;
  border: solid 1px;
  border-color: #a3a3a3;
  background-color: #00000000;
}

.dessus {
  width: 100%;
  height: auto;
}

.dessus h2 {
  color: #57370d;
  font-family: "Black-Mango";
}

.dessus p {
  color: #000000;
  font-family: "Montserrat-regular";
  margin-bottom: 20px;
}

.dessus h3 {
  color: #000000;
  font-family: "Montserrat-regular";
  font-size: 32px;
}

.dessus h4 {
  color: #000000;
  font-family: "Montserrat-regular";
  font-size: 24px;
}

.description {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
  
}
.evenement{
  margin-top: 20px;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.rdv {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.formulaire button {
 
  background-image: linear-gradient(
    to right,
    #57370d 0%,
    #ffe998 51%,
    #7b5729 100%
  );
}
.formulaire button {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 3px;
  display: block;
  border: solid transparent;
}

.formulaire button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.available {
  background-color: green !important;
  color: white !important;
}
.unavailable {
  background-color: gray !important;
  color: white !important;
  pointer-events: none;
  opacity: 0.6;
}
.flatpickr-day.available {
  background: #28a745 !important;
  /* Vert */
  color: white !important;
  border-radius: 5px;
}
.horaire-btn {
  margin: 5px;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
.horaire-btn:hover {
  background: #0056b3;
}

#erreur p{
  color: red;
  border-radius: 10px;
  border: solid 1px ;
  border-color: rgba(255, 0, 0, 0.497);
  padding: 10px;
 text-align: center;
 width: 30%;
}

#erreur{
  width: 100%;
  justify-content: center;
  display: flex;
  display: none;
  margin-top: 10px;
}

.info{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: solid 1px;
  border-color: #000000;
  padding: 20px;
  flex-wrap: wrap;
  padding-top: 0;
  margin-top: 10px;
}

.info input, select{
  padding: 15px;
  color: #545454;
  border-radius: 5px;
  border: solid 1px;
  border-color: #c8c7c7;
  margin-bottom: 20px;
  background-color: #00000000;
  width: 100%;
  font-size: 16px;
  max-width: 100%; /* Empêche de dépasser le parent */
  box-sizing: border-box; /* Inclut padding et border dans la largeur */
}
/*--------------------------------    LOADER & Pop up       ----------------------------------------------------- */


.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#ffffff 90%,#ffffff00);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}

.overlay {
  display: none; /* Masquer l'overlay par défaut */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup {
  display: none; /* Masquer le pop-up par défaut */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
 
  padding: 20px;
  z-index: 1000;
}


.error-message{
  color: red;
  padding: 5px;
  font-family: 'Montserrat-regular';
}
/*--------------------------------    Responsive      ----------------------------------------------------- */
@media (max-width:768px){
  .banniere{
    height: 350px;
    
  }

  .banniere div h1{
   font-size: 24px;
  }
}
/*--------------------------------    TYPOGRAPHIE      ----------------------------------------------------- */

@font-face {
  font-family: "Black-Mango";
  src: url("../police/black-mango-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-regular";
  src: url("../police/montserrat-regular.ttf") format("truetype");
}
