.ruban {
  width: 100%;
  height: 40px;
  color: white;
  border-bottom: solid 1px;
  border-top: solid 1px;
  border-image: linear-gradient(to right, #FFE998, #7a5c32);
  border-image-slice: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Montserrat-regular";
}

.centre {
  background-color: #0c0602;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*--------------------------------    TYPOGRAPHIE      ----------------------------------------------------- */

@font-face {
  font-family: "Black-Mango";
  src: url("../police/black-mango-regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-regular";
  src: url("../police/montserrat-regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-semibold";
  src: url("../police/montserrat-semibold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../police/Poppins-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Poppins-semibold";
  src: url("../police/Poppins-SemiBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Poppins-light";
  src: url("../police/Poppins-Light.ttf") format("truetype");
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
}
